<div class="home-container">
  <div class="chat-card">

    <div class="chat-header">
      <h2>Agente Inmobiliario IA</h2>
      <span>Asistente inteligente inmobiliario</span>
    </div>

    <div class="chat-messages">
      <div *ngFor="let msg of messages"
           [ngClass]="msg.role">

        <div class="bubble">
          <div [innerHTML]="msg.content"></div>
        </div>

      </div>

      <div *ngIf="loading" class="ai">
        <div class="bubble typing">Escribiendo...</div>
      </div>
    </div>

    <form class="chat-input" (ngSubmit)="sendMessage()">
      <textarea
        [(ngModel)]="text"
        name="text"
        rows="2"
        placeholder="Escribí tu consulta..."
        required>
      </textarea>

      <button type="submit" [disabled]="loading">
        Enviar
      </button>
    </form>

  </div>
</div>